doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 Log In
    form#form1(action="/ohyeah") 
        label(for='user_name') User Name:
        input#user_name(type="text" name="fname" value="John" placeholder='fetch from db')
        input#user_button(type="submit")
        p#log
        a(href="/") Home
    h2 Update Name    
    form#form2(action="/updated")
        label#user_name1(for='user_name1') User Name:
        input#user_name1(type='text' name="fname" value="Jane" placeholder='fetch this name')
        label#user_name2(for='') New Name
        input#user_name2(type='text' name="nname" value="Joy" placeholder='set this name')
        input#user_button2(type='submit')
    h2 Delete Name
    form#form3(action="/deleted")
        label#user_del1(for='user_name1') User Name:
        input#user_del1(type='text' name="fname" value="Zoe" placeholder='del this name')
        input#user_button2(type='submit')    
    script(src='ui4.js')
